---
import BlogLayout from "../layouts/BlogLayout.astro"
import PostPreview from "../components/PostPreview.astro";
const pageTitle="All Posts";
const allPosts = Object.values(import.meta.glob('./posts/*/*.md', { eager: true }));
const tags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];
const categoryTags = [...new Set(allPosts.map((post: any) => post.frontmatter.categoryTags).flat())];
---
<BlogLayout pageTitle={pageTitle} posts={allPosts}>
    { /* TODO - Hook up search bar to filter data */ }
    <div>
        <input style="display: block; margin: 0 auto;" placeholder="Enter keyword(s) here..." />
    </div>

    {/* tags associated with all posts */}
    {/* TODO - Put main category tags in top row */}
    <div class="tags">
        {tags.map((tag) => (
            <button data-tag={tag} class="tag">{tag}</button>
        ))}
    </div>
    <div class="post-container center-all">
        {allPosts.map((post: any) => 
            <div class="post" data-tags={post.frontmatter.tags.join(',')}>
            <PostPreview 
                url={post.url}
                title={post.frontmatter.title} 
                description={post.frontmatter.description}
        /></div>)}
    </div>
</BlogLayout>