---
import BlogLayout from "../layouts/BlogLayout.astro"
import PostPreview from "../components/PostPreview.astro";
const pageTitle="Nosebleed Nation";
const allPosts = Object.values(import.meta.glob('./posts/music/*.md', { eager: true }));
const tags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];

allPosts.sort((a:any, b:any) => {
    return new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime();
})
---
<BlogLayout pageTitle={pageTitle} posts={allPosts}>
    <h2 style="margin-bottom: 16px;">Live music & loud memories</h2>
    { /* TODO - Hook up search bar to filter data */ }
    <div>
        <input
            id="inputField"
            style="display: block; margin: 0 auto;" 
            placeholder="Enter keyword(s) here..." 
            aria-label="Search bar to filter posts"/>
    </div>

    {/* tags associated with all posts */}
    {/* TODO - Put main category tags in top row */}
    <div class="tags">
        {tags.map((tag) => (
            <button data-tag={tag} class="tag">{tag}</button>
        ))}
    </div>
    <div class="post-container">
        {allPosts.map((post: any) => 
            <div class="post" data-tags={post.frontmatter.tags.join(',')} 
                              data-context={post.frontmatter.description}
                              data-title={post.frontmatter.title}>
                <PostPreview 
                    url={post.url}
                    title={post.frontmatter.title} 
                    description={post.frontmatter.description}
                    pubDate={post.frontmatter.pubDate}
                    imageURL={post.frontmatter.image.url}
                    altText={post.frontmatter.image.alt}
                />
            </div>
        )}
    </div>
</BlogLayout>