---
const {url, title, description, pubDate, imageURL, altText} = Astro.props

const formattedDate = new Date(pubDate).toLocaleDateString('en-US', {
    year: 'numeric',
    month: 'long',
    day: 'numeric'
})
---
<a class="post-previews" href={url}>
    <div class="h2-container">
        <h2>{title}</h2>
    </div>
    <time datetime={pubDate}>{formattedDate}</time>
    <div class="post-content">
        <img src={imageURL} alt={altText}>
        <p>{description}</p>
    </div>
</a>


